.classify-page
  height: 100vh
  padding: 10em 3vw

  .classification
    align-items: stretch
    display: flex
    justify-content: center
    margin: 0 auto
    max-width: 1200px

    .subject
      background-color: black
      border-bottom-left-radius: 6px
      border-top-left-radius: 6px
      display: inline-flex
      flex: 0 1 66%
      justify-content: center
      max-width: 800px

      .video-container
        display: inline-flex
        flex-direction: column
        justify-content: center
        position: relative
        width: 100%

        video
          background-color: black

        .playback-rate-controls
          bottom: -2em
          position: absolute

          .playback-button
            @extends $reset-button
            background-color: transparent
            border: solid 2px #92a2b3
            border-radius: 4px
            color: #92a2b3
            font-size: 0.8em
            letter-spacing: 0.1em
            margin-right: 0.5em
            padding: 0.075em 0.25em
            width: 30px

          .playback-controls-label
            color: rgba(146, 175, 205, 0.3)
            font-style: italic
            font-size: 0.8em


.task-container
  align-content: stretch
  background-color: white
  border-radius: 0 6px 6px 0
  display: flex
  flex: 0 1 33%
  flex-direction: column
  padding: 1em

.batman-placeholder
  display: block
  height: 100px
  margin: 0 auto
  width: 100px

.field-guide
  font-size: 13px
  height: 180px
  line-height: 1.5em
