.classify-page
  background: url(./assets/classify-background.jpg)
  padding: 10em 3vw

  .classification
    display: flex
    justify-content: center
    margin: 0 auto
    max-width: 1200px

    .subject
      display: inline-flex
      flex: 1 1 66%
      justify-content: center

      img //placeholder
        width: 100%
        max-height: 600px

    .questions-container
      background-color: white
      display: inline-flex
      flex-direction: column
      justify-content: flex-start
      flex: 1 1 33%
      padding: 1em
      
      .batman-placeholder
        height: 100px
        margin: 1em auto
        width: 100px

      .task-container
        border-radius: 6px
        margin-bottom: 1em

        .task-question, .task-button
          @extends $reset-button
          outline: none
          padding: 1em
          text-align: left
          width: 100%

        .task-fade-enter, .task-fade-appear, .task-fade-leave.task-fade-leave-active
          height: 0
          opacity: 0
          transition: height 0.75s ease-in-out

        .task-fade-enter.task-fade-enter-active, .task-fade-appear.task-fade-appear-active
          height: 100%
          opacity: 1

        .task-fade-leave
          height: 100%
          opacity: 1
          transition: height 0.75s, opacity 0.75s ease-in-out

        .task
          .question
            font-weight: 700
            text-align: center
            
          fieldset
            border: none
            text-align: center
            
            .number-input
              background-color: transparent
              border: none
              font-size: 5.33em
              text-align: center
              vertical-align: middle
              width: 45%
              
            .minus-button, .plus-button
              @extends $reset-button
              background-color: #f8f8f8
              border: solid 2px darken(#f8f8f8, 20%)
              border-radius: 4px
              color: black
              font-size: 1.66em
              height: 40px
              outline: none
              vertical-align: middle
              width: 40px
            
          .task-button
            background-color: lightgrey
            border-radius: 6px
            margin: 0.5em
            padding: 1em
            text-align: center
            width: 95%

          .task-checkbox
            background-color: lightgrey
            border-radius: 6px
            display: block
            padding: 0.5em 1em
            margin: 0.5em

      .action-button
        @extends $reset-button
        background-color: rgb(176, 174, 174)
        border-radius: 6px
        font-size: 0.7em
        font-weight: 700
        letter-spacing: 0.1em
        padding: 1em
        text-align: center
        text-transform: capitalize
