.main-header
  align-items: center
  background-color: transparent
  box-sizing: border-box
  display: flex
  justify-content: space-between
  padding: 1em 3vw
  position: absolute
  width: 100%

  .main-header-title-link
    color: $medium-blue
    // flex: 0 0 25px
    font-weight: 700
    margin-right: 3em
    text-decoration: none

  .main-header-nav
    flex: 1 1 auto

    .main-header-link
      background-color: transparent
      color: $medium-blue
      margin-right: 3em
      padding: 0.5em 1em
      text-decoration: none

      &.active
        border: solid 2px $medium-blue
        border-radius: 15px

      &:hover
        background-color: lighten(#000000, 20%)

      &:visited
        color: $medium-blue

  .account-bar
    align-items: center
    color: white
    display: flex

    .account-avatar
      border-radius: 50%
      height: calc(1em + 1.5vw)
      margin: 0 1em
      vertical-align: middle
      width: calc(1em + 1.5vw)

  .login-bar
    a, &:visited, &:active
      color: white
      text-decoration: none

