.main-footer
  align-items: center
  background-color: $dark-blue
  color: $medium-blue
  display: flex
  flex-direction: column
  justify-content: center
  padding: 3em 3vw

  .zooniverse-logo
    font-size: 4em

  .markdown
    p
      font-size: 1.2em
      font-weight: 400
      max-width: 40em
      text-align: center
      -moz-osx-font-smoothing: grayscale
      -webkit-font-smoothing: antialiased