.task-fade-enter, .task-fade-appear, .task-fade-leave.task-fade-leave-active
  height: 0
  opacity: 0
  transition: height 0.75s ease-in-out

.task-fade-enter.task-fade-enter-active, .task-fade-appear.task-fade-appear-active
  height: 100%
  opacity: 1

.task-fade-leave
  height: 100%
  opacity: 1
  transition: height 0.75s, opacity 0.75s ease-in-out

.tasks
  display: flex
  flex-direction: column

  .task-individual
    align-items: center
    display: inline-flex
    flex-direction: column
    height: 100%
    justify-content: space-between

    .question
      font-weight: 700
      text-align: center

    fieldset
      border: none
      margin: 2em 0
      max-width: 350px
      text-align: center

      .number-input
        background-color: transparent
        border: none
        font-size: 5.33em
        text-align: center
        vertical-align: middle
        width: 45%

      .minus-button, .plus-button
        @extends $reset-button
        background-color: #f8f8f8
        border: solid 2px darken(#f8f8f8, 20%)
        border-radius: 4px
        color: black
        font-size: 1.66em
        height: 40px
        outline: none
        vertical-align: middle
        width: 40px

    .task-button
      @extends $reset-button
      background-color: lightgrey
      border-radius: 6px
      margin: 0.5em
      outline: none
      padding: 1em
      text-align: center
      width: 95%

    .task-checkbox-container
      display: inline-flex
      flex-wrap: wrap
      width: 100%

      .task-checkbox
        background-color: $task-gray
        border: solid 2px darken($task-gray, 10%)
        border-radius: 4px
        box-sizing: border-box
        color: $dark-blue
        display: block
        font-size: 0.8em
        margin: 0.5em
        padding: 0.5em 1em
        width: 160px

        &.disabled
          background-color: lighten($task-gray, 20%)
          border-color: lighten($task-gray, 20%)
          color: rgba(0, 0, 0, 0.5)

.workflow-action
  max-width: 350px
  width: 100%

  .help-text
    color: rgba(0, 0, 0, 0.5)
    font-style: italic
    position: relative
    text-align: center

    &:after
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid rgba(0, 0, 0, 0.5)
      bottom: -0.5em
      content: ''
      left: 50%
      height: 0
      position: absolute
      width: 0

  .action-button
    @extends $reset-button
    background-color: $lime-green
    border-radius: 6px
    color: white
    font-size: 1em
    padding: 1em
    text-align: center
    text-transform: capitalize
    width: 100%

  .finish-button
    margin-top: 1.75em

.task-summary-container
  display: flex
  flex-direction: column

  .progress-bar
    align-self: center

  .task-summary
    display: flex
    flex: 1 1 325px
    flex-direction: column
    width: 100%

    .task-summary-lists
      flex: 1 0 auto

      p
        margin: 0

      ul
        margin: 0
        padding: 0

  .workflow-action
    text-align: center

    .favorite-button
      @extends $reset-button
      color: $dark-blue

    .next-video-button
      background-color: $dark-blue
      margin-top: 1.75em
